*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:cursive;
    margin: 0;
}

h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}
ul{
    list-style:none;
}
li{
    font-size: 1.25em;
}

button{
    font-size: 1.5em;
    font-weight:bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: red;
}

button:hover{
    background-color: rgb(187, 4, 4);
}

.container{
    max-width: 1000px;
    margin: auto;
}

.color-acento{
    color: red;
}

header{
    background-color: black;
}

header .logo{
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: red;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: red;
}

header a:hover{
    color: white;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../IMG/principal-honda-ok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#ficha-tecnica{

}

#ficha-tecnica .container{
    text-align: center;
    padding: 200px 12px;
}

#accesorios{
    background-color: red;
    color: white;
    text-align: center;
}

#accesorios .container{
    padding: 150px 0px;
}

#accesorios h2{
    margin-top: 0;
    font-size: 50px;
}

#accesorios p{
    display: none;
}

#accesorios .carta{
    background-size: cover;
    background-position: center center ;
    padding: 60px;
    margin: 30px;
    border-radius: 25px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../IMG/handsavers.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../IMG/defensas.png);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../IMG/cupula.png);
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("..//IMG/BK1P0507a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: red;
}

footer p{
    margin: 0;
    padding: 12px;
    color: white;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 730px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction:row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #ficha-tecnica .container{
        display: flex;
        justify-content:space-evenly;
    }

    #ficha-tecnica .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #ficha-tecnica h2{
        margin-top: 0px;
    }

    #ficha-tecnica .img-container{
        background-image: url("../IMG/honda2.png");
        background-size: cover;
        background-position: center center;
        height: 740px;
        width: 490px;

    }

    #accesorios .accesorios{
        display: flex;
        justify-content: center;
    }

    #accesorios p{
        display: block;
        margin-bottom: 20px;
    }

    #accesorios h2{
        font-size: 4em;
    }

    #accesorios h3{
        margin-top: 0;
    }

    #accesorios .carta{
        padding: 20px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position: 0;
        background-color: rgba(50,50,50,0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../IMG/handsavers.jpg);
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../IMG/defensas.png);
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../IMG/cupula-recorte.png);
    }

    #caracteristicas{
        background-image: url(../IMG/tablero.jpg);
        background-repeat: no-repeat;
        background-size: 400px 300px;
        background-position: calc(100vw - 700px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 6em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1100px){
    #caracteristicas{
        background-position-x: calc(120vw - 810px);
    }
}

img{
    height: 50px;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
